<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'ActionCable Chat' %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css"/>
    <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> %>
  </head>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= welcome_index_path %>">YummyJoy's Bake blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
              <li class="active"><a href="<%= welcome_index_path %>">Home</a></li>
              <li class=""><a href="<%= tutorials_path %>">Tutoriales</a></li>
              <%# <li class=""><a href="/articles/">Blog</a></li> %>
              <li class=""><a href="<%= rooms_show_path %>">Chat</a></li>
            
          </ul>
          <ul>
          <div class="nav navbar-nav navbar-right">
            
            <% unless user_signed_in?%>
              <li>
                <div class="form-group navbar-form">
                  <a href="<%=new_user_session_path%>"><button class="btn btn-success">Log In</button> </a>
                </div>
              </li>
              <li>
                <div class="form-group navbar-form">
                  <a href="<%=new_user_registration_path%>"><button class="btn btn-default">Sign Up</button> </a>
                </div>
              </li>
              <% end %>
              <% if user_signed_in?%>
               <li>
                <div class="form-group navbar-form">
                   <span class="logout"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></span>
                </div>
              </li>
              <% end %>
          </div>
          
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
  
  
    <body>
      <%= yield %>
    </body>
  </div>
<hr>
<footer>
  <p>&copy; 2018 YummyJoy, Inc.</p>
</footer>
</div> 
  
</html>
